:root {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #ffd2eb;
    background-image: url(../img/bg.svg);
    background-size: 45%;
    background-repeat: repeat;
}

::selection {
    background-color: hotpink;
}

body > * + * {
    margin-top: 2.5em;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 1.5rem;
    background-color: rgba(255, 255, 255, 0.6);
    transition: opacity .2s ease-in;
}

.vgen {
    position: fixed;
    width: 15vw;
    top: 70vh;
    left: 10vw;
    z-index: 5;
}

.vgen img {
    background-color: transparent;
}

article {
    font-family: 'Source Sans Pro', sans-serif;
}

.hero {
    display: flex;
    justify-content: center;
}

.hero > * {
    margin-top: 1rem;
}

.stream {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 50%;
}

.stream img {
    max-width: 50%;
    border-radius: 1rem;
}

.stream iframe {
    margin-top: 1rem;
    border-radius: 1rem;
}

.pose {
    max-width: 27%;
}

.bio {
    display: flex;
    justify-content: center;
}

.bio > * + * {
    margin-left: 2%;
}

.image-container {
    max-width: 37%;
    margin: 0;
}

.image-container img {
    border: none;
}

.about {
    max-width: 39%;
    display: flex;
    flex-direction: column;
    font-size: 1.2vw;
    justify-content: space-between;
}

.bio-panel {
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1vw;
}

.bio-panel p {
    margin-left: .7rem;
}

.bio-panel li + li {
    margin-top: 1rem;
}

.social-panel {
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1em;
    margin-top: 4%;
}

.social-panel p {
    margin: 0;
    padding: .6em 1em;
}

.icon-wrapper img {
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0);
}

.icon-container {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    justify-content: space-evenly;
    gap: .4rem;
}

.icon-container li {
    position: relative;
    border-radius: 2rem;
    border: solid .2rem hotpink;
    transition: border-color .1s ease-in;
}

.icon-container li a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width:  3rem;
}

.icon-container li a img {
    height: 65%;
    width: 65%;
    filter: invert(60%) sepia(50%) saturate(2093%) hue-rotate(295deg) brightness(101%) contrast(101%);
    transition: filter .1s ease-in;
}

.icon-container li:hover {
    border-color: lightblue;
}

.icon-container li:hover img {
    filter: invert(88%) sepia(13%) saturate(557%) hue-rotate(153deg) brightness(92%) contrast(95%);
}

#twitch, #tiktok {
    height: 55%;
    width: 55%;
}

footer {
    background-color: #f7a2e4;
    text-align: right;
    font-family: 'Cutive Mono', monospace;
    font-size: 1.1rem;
}

footer p {
    padding-right: 1.5em;
    margin: .5rem 0;
    letter-spacing: -1px;
    color: white;
}

figcaption {
    text-align: left;
    position: relative;
    margin-left: 1.5rem;
    bottom: 2rem;
    font-size: 1.3rem;
    opacity: 0;
    height: 0;
    text-shadow: 0 0 5px lightblue;
    transition: opacity .2s ease-in;
}

figure:hover figcaption {
    opacity: 1;
}

figure:hover img {
    opacity: .8;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: rgb(146, 183, 196);
}

footer a:hover {
    color: darkred;
}

.email {
    margin: 2rem auto;
    width: 79%;
    font-size: 1.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.email a {
    text-decoration: underline;
}

.email a:hover {
    color: #f7a2e4;
}

.email-panel {
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1em;
    display: flex;
    justify-content: space-evenly;
}

.gifbox {
    width: calc(5% + 1vw);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.5rem;
}

.email img {
    background-color: #ffffff00;
    max-width: 100%;
    border-radius: 0;
    margin: auto;
    align-self: center;
}

.email p {
    line-height: 2.6rem;
    text-align: center;
}

.twitter {
    width: 79%;
    margin: 2rem auto 0 auto;
    display: none;
}

.twitter div {
    margin: 0 auto;
}

@media only screen and (min-width: 1237px) {
    .about {
        font-size: 1.5vw;
    }
}

@media only screen and (max-width: 1000px) {
    .email {
        width: 90%;
    }

    .email-panel {
        flex-direction: column;
        align-items: center;
    }

    .email p {
        margin: auto .7rem;
    }

    .gifbox {
        width: calc(1rem + 8vw);
    }
}

@media only screen and (max-width: 930px) {
    .icon-container li {
        margin-top: .4rem;
    }
}

@media only screen and (max-width: 600px) {
    .icon-container {
        width: 60%;
        margin: 0 auto;
        gap: .4rem;
    }

    .icon-container li {
        margin-top: .4rem;
    }

    .stream {
        max-width: 100%;
    }

    .stream iframe {
        height: 40vh;
    }

    .stream img {
        max-width: 80%;
    }

    .pose {
        display: none;
    }

    .bio {
        flex-direction: column;
    }

    .bio > * {
        max-width: 100%;
        margin: 5%;
    }

    .email {
        font-size: 1em;
    }
}